@import "./colors.css";

.thumbnail-list {
  margin: 0 auto 56px;
  display: grid;
  grid-template-columns: repeat(5, 200px);
  gap: 70px;
}

.thumbnail {
  width: 200px;
  height: 300px;
  border-radius: 8px;
}

.item {
  user-select: none;
  cursor: pointer;
}

.item-desc > *:not(:last-child) {
  position: relative;
  margin-bottom: 4px;
  line-height: 1.2rem;
}

p.rate {
  display: flex;
  align-items: baseline;
  color: var(--color-yellow);
}

p.rate > span {
  margin-left: 4px;
}

.item .star {
  width: 16px;
  top: 1px;
}

.skeleton-item {
  user-select: none;
  cursor: pointer;
}

.skeleton-thumbnail {
  width: 200px;
  height: 300px;
  border-radius: 8px;
  background-color: #ddd; 
}

.skeleton-item-desc {
  flex: 1;
}

.skeleton-rate {
  display: flex;
  align-items: baseline;
}

.skeleton-star {
  width: 16px;
  height: 16px;
  background-color: #ddd;
  border-radius: 5px;
}

.skeleton-rate-value {
  margin-left: 4px;
  width: 30px;
  height: 20px;
  background-color: #ddd;
  border-radius: 5px;
}

.skeleton-title {
  width: 150px;
  height: 20px;
  background-color: #ddd;
  border-radius: 5px;
}

.skeleton-item-desc > *:not(:last-child) {
  position: relative;
  margin-bottom: 4px;
  line-height: 1.2rem;
}